@model IEnumerable<TaskToDo_WebApp.Models.ToDoTask>

<form asp-controller="Home" asp-action="Insert" id="form-action" method="post" class="form-horizontal" role="form">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 col-md-8 col-sm-10">
            <label class="form-label">Enter task name :</label>
            <input @Html.DisplayNameFor(model => model.TaskId) type="hidden" class="form-control" />
            <input @Html.DisplayNameFor(model => model.Name) class="form-control" ID="task" />
            @* <span asp-validation-for="@Html.DisplayNameFor(model => model.Name)" class="text-danger"></span> *@
            @* @Html.ValidationMessageFor(model => model.Name, "You have to enter task name.", new { @class = "text-danger" }) *@
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 col-md-8 col-sm-10 mt-3 mb-5">
            <input type="submit" id="form-button" class="btn btn-success" value="Add task" />
        </div>
    </div>
</form>

<form asp-controller="Home" asp-action="Index">
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 col-md-8 col-sm-10">
            <label>Date added: <input type="text" name="SearchString"/></label>
            <input type="submit" value="Filter"/>
        </div>
    </div>
</form>

<div class="row justify-content-center">
    <div class="col-xl-6 col-lg-8 col-md-8 col-sm-10">
        <table class="table">
            <thead>
            <tr class="table-primary">
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var t in Model)
            {
                <tr>
                    <th class="todos-column" scope="row">@t.TaskId</th>
                    <td class="todos-column">@t.Name</td>
                    <td class="buttons-column">
                        <form asp-controller="Home" asp-action="Delete" asp-route-id="@t.TaskId" method="post">
                            <button type="submit" class="btn btn-danger">
                                Delete
                            </button>
                        </form> 
                    </td>
                    <td class="buttons-column">
                        <a asp-controller="Home" asp-action="Update" asp-route-id="@t.TaskId">
                            <button class="btn btn-primary">
                                Update
                            </button>
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>